* {
    font-family: 'MedievalSharp', cursive;
    user-select: none;
}

body {
    background-image: url(./resources/background.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#title {
    color: #e99803;
    font-size: 70px;
    font-weight: bold;
    text-shadow: black 3px 6px 6px;
}

#subtitle {
    color: wheat;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: -30px;
    text-shadow: black 3px 6px 6px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sheetbackground {
    margin: auto;
    justify-content: center;
}

button {
    width: 300px;
    height: 90px;
    background: none;
    cursor: pointer;
    font-style: initial;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Antonio', sans-serif;
}

#github {
    display: inline-block;
    position: fixed;
    left: 10px;
    bottom: 3px;
    transform: scale(1);
    transition: transform 1000ms ease;
}

#github:hover {
    transform: scale(1.35);
}

#mastering {
    border: 2px solid;
    border-radius: 12px;
    border-color: orangered;
    background-color: none;
    color: white;
    transition: all 1000ms ease;
    transform: scale(1);
    position: relative;
    top: -20px;
}

#playing {
    border: 2px solid;
    border-radius: 12px;
    border-color: aquamarine;
    background-color: none;
    color: white;
    transition: all 1000ms ease;
    top: 20px;
}

#playing:hover {
    background-color: aquamarine;
    transform: scale(1.1);
}

#mastering:hover {
    background-color: orangered;
    transform: scale(1.1);
}

#credits {
    align-items: center;
    color: white;
    position: fixed;
    left: 41.8%;
    bottom: -45px;
    font-size: 20px;
    color: #ffc14f;
    text-shadow: black 3px 6px 6px;
}